#!/usr/bin/make -f

.config:
	$(MAKE) KERNELRELEASE=4.19.272-phytium ARCH=arm64 KBUILD_BUILD_VERSION=1 KBUILD_SRC= defconfig

build: .config
	$(MAKE) -j$(shell nproc) KERNELRELEASE=4.19.272-phytium ARCH=arm64 KBUILD_BUILD_VERSION=1 KBUILD_SRC=

binary-arch:
	$(MAKE) KERNELRELEASE=4.19.272-phytium ARCH=arm64 KBUILD_BUILD_VERSION=1 KBUILD_SRC= intdeb-pkg

clean:
	$(MAKE) clean
	rm -rf debian/*tmp debian/files .config .version Module.symvers arch/arm64/include/generated/ include/config/ include/generated/

binary: binary-arch
